.rectangle-48 {
    width: 559px;
    height: 555px;
    margin: 167px 0 0 53px;
    background-color: #040404;
    border-radius: 10px;
    padding: 10px;
}

.rectangle-43 {
    width: 223px;
    height: 58px;
    margin: 22px auto; /* Centré horizontalement à l'intérieur de .rectangle-48 */
    background-color: #434343;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

.buy-crypto {
    width: 107px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.rectangle-46 {
    width: 447px;
    height: 82px;
    margin: 30px auto;
    background-color: #202020;
    border-radius: 20px;
}

.rectangle-45 {
    width: 447px;
    height: 82px;
    margin: 30px auto;
    background-color: #202020;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crypto-dropdown {
    width: 80%; /* Ajustez la largeur selon vos besoins */
    height: 40px;
    background-color: #333; /* Couleur de fond */
    color: #FFFFFF; /* Couleur du texte */
    border: none;
    border-radius: 10px; /* Coins arrondis */
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px;
    text-align: center;
    appearance: none; /* Enlever les styles par défaut du menu déroulant */
    cursor: pointer;
}

.crypto-dropdown option {
    background-color: #333; /* Couleur de fond pour les options */
    color: #FFFFFF; /* Couleur du texte des options */
}

.vector {
    width: 16px;
    height: 16px;
    background-color: #D7D1D1;
    margin: 16px auto;
    transform: rotate(179.37deg);
}

.euro {
    width: 45px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: 10px;
}

.amount {
    width: 93px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.btc {
    width: 135px;
    height: 58px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.rectangle-47 {
    width: 310px;
    height: 51px;
    margin: 20px auto 0 auto;
    background-color: #DE982F;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
