{% extends 'base.html.twig' %}

{% block title %}New Crypto{% endblock %}

{% block body %}
    <h1>Create new Crypto</h1>

    {{ include('crypto/_form.html.twig') }}

    <a href="{{ path('app_crypto_index') }}">back to list</a>
{% endblock %}
