
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Liste des Clients{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des Clients</h1>
        <ul>
            {% for client in clients %}
            <li><a href="{{ path('wallet_show', {'id': client.id}) }}">{{ client.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
